.navbar {
  position: relative;
  top: 0rem;
  display: grid;
  grid-template-rows: auto auto;
  
  padding-top: 0rem;
  margin: 0;
  height: 10rem;
  width: 100%;
}

.nav-firstRow {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  background-color: #E5E4CC;
  padding: 2rem;
}
.nav-g20{
  position: relative;
  left: 0;
}

.nav-text {
  font-size: 1.4rem;
  padding-left: 2rem;
  text-align: left;
}

.nav-logo {
  padding-top: 1rem;
  margin-left: 2rem;
  align-items: left;
}

.nav-menu {

  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  background-color: #889E81;

  list-style-type: none;
  height: fit-content;
  transition: 0.2s ease-in-out;
}
.nav-menuFixed{
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  background-color: #698474;
  
  
  list-style-type: none;
  height: fit-content;
  transition: 0.3s ease;
}



.nav-item {
  width: 12.5%;
  margin-left: -2.5rem;
  padding: 1rem 3rem;
  text-align: center;
  justify-content: space-around;
  column-gap: 0rem;
}

.nav-item:hover {
  background-color: #181A2F;
  color: #ddd;
}

.nav-link {
  color: #fff;
 
  text-decoration: none;
  font-size: 1rem;
}

