.navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #94C9A9;
    padding: 1rem 1rem;

}
.nav-text{
   font-size: x-large;
   
   
}
.nav-logo{
    margin-left: 2rem;
}
.nav-firstRow{
    display:grid;
    grid-template-columns: auto auto;
}

.nav-menu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: end;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-left: 1rem;
   border-right: 1px solid black ;
   padding-right: 1rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0;}